@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    
    --primary: 214 100% 40%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 16 100% 57%;
    --secondary-foreground: 210 40% 98%;
    
    --accent: 122 60% 46%;
    --accent-foreground: 210 40% 98%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 214 100% 40%;
    
    --radius: 0.5rem;
  }
 
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-neutral-100 text-foreground font-sans antialiased;
    font-family: 'Cairo', sans-serif;
  }
}
